/* updateroles.css */
.updateroles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('../components/assets/updatesatuts.jpg') center/cover no-repeat fixed;
    font-family: Arial, sans-serif;
}

.headingup {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 40px;
    color: #fff;
    /* Text color, adjust as needed for visibility on the background */
}

.user-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 50px 10px 100px;
}

.user-card {
    background-color: rgba(255, 255, 255, 0.8);
    /* Card background color with transparency */
    border-radius: 8px;
    padding: 50px ;
    margin: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    flex: 1;
    max-width: calc(25% - 40px);
    /* Adjust card width to display 4 cards in a row */
}

.card-header {
    font-weight: bold;
    color: #333;
    /* Text color */
}

.card-status {
    margin-top: 10px;
    color: #555;
    /* Text color */
}

.card-actions {
    display: flex;
    align-items: center;
}

.uplabel::before {
    content: 'Change Status:';
    margin-right: 10px;
}

.upinput {
    margin-left: 5px;
    vertical-align: middle;
}